[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_A40B0CF45157383837202020FF0A1E12-if00
#   Path to the serial port for the beacon device. Typically has the form
#   /dev/serial/by-id/usb-Beacon_Beacon_...
speed: 10
lift_speed: 120
x_offset: 0
y_offset: 23
default_model_name: default
mesh_main_direction: x
mesh_runs: 2
default_probe_method: proximity
contact_max_hotend_temperature: 270 # increase to enable hot contacting
# new additions for beacon safe_z_home functionality
home_xy_position: 90, 90
home_z_hop: 5
home_z_hop_speed: 120
home_xy_move_speed: 500
home_method: proximity
home_method_when_homed: proximity 
home_autocalibrate: never
autocal_speed: 5
autocal_retract_speed: 10
home_gcode_post_x: _HOME_POST_AXIS AXIS=X
home_gcode_post_y: _HOME_POST_AXIS AXIS=Y

[gcode_macro _HOME_POST_AXIS]
gcode:
    {% set axis = params.AXIS %}
    {% set th = printer.toolhead %}
    G90 
    G0 {axis}90 F5000
    G91
    M400

[gcode_macro QUAD_GANTRY_LEVEL]
rename_existing: _QUAD_GANTRY_LEVEL
description: Conform a moving, twistable gantry to the shape of a stationary bed 
gcode:

    {% if printer.quad_gantry_level.applied|lower == 'false' %}
      _QUAD_GANTRY_LEVEL RETRY_TOLERANCE=0.2
    {% endif %}
    _QUAD_GANTRY_LEVEL HORIZONTAL_MOVE_Z=2
    SET_DISPLAY_TEXT TEXT="QGL Complete"
    G28 Z

[bed_mesh]
speed: 500
horizontal_move_z: 2
mesh_min: 13,23
mesh_max: 157,157
probe_count: 20,20
algorithm: bicubic
fade_start: 1.0
fade_end: 10
mesh_pps: 0,0
zero_reference_position: 90.00, 90.00